:root {
  --cyan: hsl(179, 62%, 43%);
  --cyan-low: hsl(179, 39%, 56%);
  --bright-yellow: hsl(71, 73%, 54%);
  --light-gray: hsl(204, 43%, 93%);
  --grayish-blue: hsl(218, 22%, 67%);

  --default-font: 1.6rem;
}
